.list-task-tabs {
  @apply flex items-center mb-2;

  li {
    @apply relative [&:not(:last-child)]:mr-[10px] text-[14px] font-semibold cursor-pointer transition duration-500;

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      @apply bg-purple;
      height: 2px;
      width: 0;
      bottom: -7.5px;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s;
    }

    &:hover {
      @apply text-badgeConfirm;
    }

    &:hover::after {
      width: 100%;
    }

    &.active {
      @apply text-badgeConfirm after:w-[100%];
    }
  }
}

.list-task-list {
  @apply flex items-center justify-between py-[12px] px-[20px] border border-solid border-badgeConfirm bg-badgeConfirm rounded-[6px] [&:not(:last-child)]:mb-2;
}
